<div class="row">
    <div class="col-md-12">
        <h4> Bem vindo ao nosso VHQ - Virtual Head Quarter</h4>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dolores non dolore iste harum sint obcaecati
            voluptatum totam labore modi deserunt quos maxime necessitatibus, nobis eum dolorem repellendus maiores
            aperiam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, esse modi vel magnam beatae rem rerum
            laboriosam quod eos obcaecati non adipisci incidunt dignissimos aliquam eum odit, nesciunt, maxime deleniti.
        </p>

    </div>
</div>